@tailwind base;
@tailwind components;
@tailwind utilities;


@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap');

body {
    font-family: 'Inter', sans-serif;
  
}


h1{
    font-family: 'Inter', sans-serif;
}

h2{
    font-family: 'Inter', sans-serif;
}
p{
    font-family: 'Inter', sans-serif;
}


 /* Custom CSS */
 .hide-dropdown-arrow::before {
  display: none !important;
 }

.call-to-action {
    background: url(../public/images/point-bg.png);
    background-color: #EDC700;
   
} 
